
//@theme "/home/avast/.nix-profile/share/rofi/themes/sidebar.rasi"
//@theme "/usr/share/rofi/themes/sidebar.rasi"

//@theme "/home/avast/.nix-profile/share/rofi/themes/sidebar.rasi"

@theme "launchpad.rasi"

//@theme "rofi.rasi"


